* {
    box-sizing: border-box;
}

html {
    background-image: url(../images/paper_1.png);
}

.container {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.nav {
    padding: 10px;
    /* margin: 10px; */
    border: 1px solid black;
}






.titleText {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 32px;
}

.headingText {
    font-family: 'IM Fell DW Pica SC', serif;  
}

.contactText {
    font-family: 'IM Fell DW Pica SC', serif; 
    letter-spacing: .1em; 
}

i {
    color: black;
 }
 
 .infoText {
    font-family: 'Rubik', sans-serif;
     font-size: 22px; 
 }
