* {
    box-sizing: border-box;
}

html {
    background-image: url(../images/paper_1.png);
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.container > div {
    border: 1px solid black;
}

.container > div.header {
    font-size: 32px;
    display: flex;
    justify-content: space-evenly;
}

.container > div.nav {
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 95px;
}

.container > div.summary {
    display: flex;
    flex: 1 1 150px;
    align-items: flex-start;   
}

.container > div.skills {
    display: flex;
    flex: 1 1 150px;
    justify-content: flex-start;
}

.container > div.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.container > div.footer {
    display: flex;
    flex: 1 1 150px;
    justify-content: center;
}







.titleText {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 32px;
}

.headingText {
    font-family: 'IM Fell DW Pica SC', serif;  
}

.contactText {
    font-family: 'IM Fell DW Pica SC', serif; 
    letter-spacing: .1em; 
}

i {
    color: black;
 }
 
 .infoText {
    font-family: 'Rubik', sans-serif;
     font-size: 22px; 
 }
