* {
    box-sizing: border-box;
    text-align: justify;
}

html {
    background-image: url(../images/paper_1.png);
}

.container {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

.header {
    padding: 10px;
    margin: 10px;
}

.nav {
    padding: 10px;
    margin: 10px;
}

.summary {
    padding: 10px;
    margin: 10px;
}

.skills {
    padding: 10px;
    margin: 10px;
}

.projects {
    padding: 10px;
    margin: 10px; 
}

.education {
    padding: 10px;
    margin: 10px; 
}

.titleText {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 20px;
}

.headingText {
    font-family: 'IM Fell DW Pica SC', serif;  
}

.contactText {
    font-family: 'IM Fell DW Pica SC', serif; 
    letter-spacing: .1em; 
}

i {
    color: black;
 }
 
 .infoText {
    font-family: 'Rubik', sans-serif;
     font-size: 18px; 
 }
